In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('/Users/tanmaymalkar/DSBDAL/L3/Mall_Customers 2.csv
')

SyntaxError: unterminated string literal (detected at line 1) (961690360.py, line 1)

In [11]:
 file_path = "/Users/tanmaymalkar/DSBDAL/L3/Mall_Customers 2.csv"
df = pd.read_csv(file_path)

In [13]:
print(df.head())

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [19]:
categorical_var = 'Age'

In [33]:
numerical_var = 'Annual Income (k$)'

In [35]:
summary_stats = df.groupby(categorical_var)[numerical_var].agg(['mean','median','min','max','std'])

In [37]:
grouped_values = df.groupby(categorical_var)[numerical_var].apply(list)

In [39]:
print(df.columns)

Index(['CustomerID', 'Genre', 'Age', 'Annual Income (k$)',
       'Spending Score (1-100)'],
      dtype='object')

In [41]:
print("Summary Statistics:")
print(summary_stats)

Summary Statistics:
           mean  median  min  max        std
Age
18    51.250000    53.5   33   65  14.056434
19    57.000000    63.5   15   81  20.632845
20    41.600000    37.0   16   73  24.815318
21    38.800000    33.0   15   62  19.018412
22    31.333333    20.0   17   57  22.278540
23    41.500000    41.5   16   70  23.441416
24    39.250000    38.5   20   60  16.357975
25    57.666667    72.0   24   77  29.263174
26    58.000000    58.0   54   62   5.656854
27    63.166667    63.5   40   88  18.400181
28    85.250000    82.0   76  101  11.615363
29    63.600000    73.0   28   98  28.866936
30    76.142857    78.0   19  137  39.612408
31    48.375000    41.5   17   81  23.323425
32    87.181818    77.0   48  137  26.809768
33    80.333333    86.0   42  113  35.837597
34    79.000000    78.0   58  103  15.968719
35    46.666667    24.0   18  120  38.632888
36    81.000000    87.0   37  103  22.556595
37    65.000000    78.0   20   97  40.112342
38    74.500000    69.0   54  113  20.462160
39    72.666667    71.0   69   78   4.725816
40    61.666667    64.5   29   87  19.551641
41   101.000000   101.0   99  103   2.828427
42    60.000000    60.0   34   86  36.769553
43    65.666667    71.0   48   78  15.695010
44    75.500000    75.5   73   78   3.535534
45    69.333333    54.0   28  126  50.767444
46    59.000000    54.0   25   98  36.755952
47    70.166667    65.5   43  120  27.694163
48    58.200000    60.0   39   77  13.700365
49    51.000000    54.0   33   65  12.884099
50    58.600000    58.0   40   85  18.420098
51    55.500000    55.5   44   67  16.263456
52    55.500000    55.5   23   88  45.961941
53    39.500000    39.5   33   46   9.192388
54    59.750000    55.0   28  101  30.998656
55    57.000000    57.0   57   57        NaN
56    79.000000    79.0   79   79        NaN
57    64.500000    64.5   54   75  14.849242
58    54.000000    54.0   20   88  48.083261
59    65.250000    62.5   43   93  21.792583
60    43.333333    50.0   30   50  11.547005
63    56.500000    56.5   48   65  12.020815
64    19.000000    19.0   19   19        NaN
65    50.500000    50.5   38   63  17.677670
66    63.000000    63.0   63   63   0.000000
67    45.500000    50.5   19   62  18.699376
68    56.666667    59.0   48   63   7.767453
69    44.000000    44.0   44   44        NaN
70    47.500000    47.5   46   49   2.121320

In [43]:
print("\nList of Numerical Values for Each Category:")
print(grouped_values)

List of Numerical Values for Each Category:
Age
18                                   [33, 48, 59, 65]
19                   [15, 46, 48, 63, 64, 65, 74, 81]
20                               [16, 21, 37, 61, 73]
21                               [15, 30, 33, 54, 62]
22                                       [17, 20, 57]
23                           [16, 18, 29, 54, 62, 70]
24                                   [20, 38, 39, 60]
25                                       [24, 72, 77]
26                                           [54, 62]
27                           [40, 46, 60, 67, 78, 88]
28                                  [76, 77, 87, 101]
29                               [28, 40, 73, 79, 98]
30                      [19, 34, 78, 78, 88, 99, 137]
31                   [17, 25, 39, 40, 43, 70, 72, 81]
32    [48, 60, 73, 75, 76, 77, 87, 97, 103, 126, 137]
33                                      [42, 86, 113]
34                              [58, 78, 78, 78, 103]
35              [18, 19, 21, 23, 24, 28, 74, 93, 120]
36                          [37, 85, 87, 87, 87, 103]
37                                       [20, 78, 97]
38                          [54, 64, 67, 71, 78, 113]
39                                       [69, 71, 78]
40                           [29, 54, 60, 69, 71, 87]
41                                          [99, 103]
42                                           [34, 86]
43                                       [48, 71, 78]
44                                           [73, 78]
45                                      [28, 54, 126]
46                                       [25, 54, 98]
47                          [43, 49, 60, 71, 78, 120]
48                               [39, 54, 60, 61, 77]
49                       [33, 39, 42, 54, 62, 62, 65]
50                               [40, 43, 58, 67, 85]
51                                           [44, 67]
52                                           [23, 88]
53                                           [33, 46]
54                                  [28, 47, 63, 101]
55                                               [57]
56                                               [79]
57                                           [54, 75]
58                                           [20, 88]
59                                   [43, 54, 71, 93]
60                                       [30, 50, 50]
63                                           [48, 65]
64                                               [19]
65                                           [38, 63]
66                                           [63, 63]
67                                   [19, 47, 54, 62]
68                                       [48, 59, 63]
69                                               [44]
70                                           [46, 49]
Name: Annual Income (k$), dtype: object

In [45]:
print(df.describe)

<bound method NDFrame.describe of      CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]>

In [47]:

summary_stats = df.describe()


print(summary_stats)

       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000