In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_numbers("DSBDAL.numbers")
print(df)

AttributeError: module 'pandas' has no attribute 'read_numbers'

In [4]:
df = pd.read_csv("DSBDAL.csv")
print(df)

    Math_score  reading_score  Writing_Score  placement_score  \
0           65             84             30               45
1           35             65             40               56
2           70             67             50               25
3           73             85             54               56
4           60             73             46               56
5           58             83             47               57
6           65             86             84               68
7           35             84             30               34
8           70             65             40               78
9           73             67             50               57
10          60             85             54               90
11          58             73             46               45
12          65             83             47               56
13          35             86             84               25
14          70             84             30               56
15          73             65             40               56
16          60             67             50               57
17          58             85             54               68
18          65             73             46               34
19          35             83             47               78
20          70             86             84               57
21          70             84             30               90
22          73             65             40               45
23          60             67             50               56
24          58             85             54               25
25          65             73             46               56
26          35             83             47               56
27          70             86             84               57
28          73             84             30               68

    placement_offer-count  Club join year
0                      67            2017
1                      57            2018
2                      89            2019
3                      35            2016
4                      89            2017
5                      67            2018
6                      57            2019
7                      89            2016
8                      35            2017
9                      89            2018
10                     67            2019
11                     57            2016
12                     89            2017
13                     35            2018
14                     89            2019
15                     67            2016
16                     57            2017
17                     89            2018
18                     35            2019
19                     89            2016
20                     67            2017
21                     57            2018
22                     89            2019
23                     35            2016
24                     89            2017
25                     67            2018
26                     57            2019
27                     89            2016
28                     35            2017

In [7]:
print(df.isnull())

    Math_score  reading_score  Writing_Score  placement_score  \
0        False          False          False            False
1        False          False          False            False
2        False          False          False            False
3        False          False          False            False
4        False          False          False            False
5        False          False          False            False
6        False          False          False            False
7        False          False          False            False
8        False          False          False            False
9        False          False          False            False
10       False          False          False            False
11       False          False          False            False
12       False          False          False            False
13       False          False          False            False
14       False          False          False            False
15       False          False          False            False
16       False          False          False            False
17       False          False          False            False
18       False          False          False            False
19       False          False          False            False
20       False          False          False            False
21       False          False          False            False
22       False          False          False            False
23       False          False          False            False
24       False          False          False            False
25       False          False          False            False
26       False          False          False            False
27       False          False          False            False
28       False          False          False            False

    placement_offer-count  Club join year
0                   False           False
1                   False           False
2                   False           False
3                   False           False
4                   False           False
5                   False           False
6                   False           False
7                   False           False
8                   False           False
9                   False           False
10                  False           False
11                  False           False
12                  False           False
13                  False           False
14                  False           False
15                  False           False
16                  False           False
17                  False           False
18                  False           False
19                  False           False
20                  False           False
21                  False           False
22                  False           False
23                  False           False
24                  False           False
25                  False           False
26                  False           False
27                  False           False
28                  False           False

In [9]:
series1 =pd.isnull(df["Math_score"])
df[series1]

Empty DataFrame
Columns: [Math_score, reading_score, Writing_Score, placement_score, placement_offer-count, Club join year]
Index: []